/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 22px;
    margin: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px; 
    text-decoration:none
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 30px 0px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 30px 0px 0px 0px;
}

.nav-links {
    display: flex;
    justify-content:flex-end;
    gap: 68px; 
}

.nav-link {
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -50%;
    left:0;
    width: 0%;
    height: 2px;
    background: #0065FC;
}

.nav-link:hover::before {
    width:100%;
}

  .nav-link:hover {
    color: #0065FC;
  }
  .main-title {
    font-size: 22px;
  }
  .search-bar {
    display: flex;
    align-items: center;
    height: 49px;
    width: 338px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow:hidden;
    margin: 0px 0px 38px 0px;
  }

  .search-button {
    background-color: #0065FC;
    color: white;
    border:none;
    padding: 14px 16px;
    cursor: pointer;
    height:100%;
    font-size: 18px;
    font-weight: bold;
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size:18px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .location-icon {
    background-color: #f2f2f2;
    height: 100%;
  }

  .fa-location-dot {
    color:#000;
    padding: 15px 18px 16px 18px;
  }

.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px 0px 35px 0px;
}
.filter-title {
    font-size: 18px;
    font-weight: bold;
}
.filter-chip {
    display:flex;
    align-items: center;
    gap: 8px;
    padding:14px 19px;
    border:2px solid #D9D9D9;
    background-color:white;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.filter-chip:hover {
    background-color: #DEEBFF;
}
.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
