/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 22px;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin: 0;
}

h3 {
    font-size: 16px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 0px 0px;
    display: flex;
    text-decoration:none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px 30px 0px;
    margin: 0px 0px 30px 0px;
}

.logo {
    display: flex;
    padding: 30px 0px 0px 0px;
}

.nav-links {
    display: flex;
    gap: 68px; 
    width: auto;
}

.nav-link {
    text-decoration: none;
    color: #000;
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -80%;
    left:0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
}

.nav-link:hover::before {
    width:100%;
}

.nav-link:hover {
    color: var(--main-color);
  }

.main-title {
    font-size: 22px;
  }

.search-bar {
    display: flex;
    align-items: center;
    height: 49px;
    width: 338px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    margin: 35px 0px;
  }

.search-button {
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    border:none;
    min-height:100%;
    flex-shrink: 0;
    width: 93px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.search-icon {
    display: none;
    font-size: 18px;
}
 
.search-form {
    display:flex;
    align-items:center;
    flex-grow: 1;
    min-width: 0;
    height:100%;
}  

.search-input {
    flex-grow: 1;
    min-width: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

.search-text{
    display:flex;
    align-items:center;
    justify-content: center;
}
  
.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    height: 100%;
}

.fa-location-dot {
    color:#000;
    padding: 20px;
    font-size: 14px;
}

.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px 0px 35px 0px;
}

.filter-title {
    font-size: 17px;
    font-weight: bold;
}

.filter-chip {
    display:flex;
    align-items: center;
    gap: 8px;
    padding:14px 19px;
    border:2px solid #D9D9D9;
    background-color:white;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.filter-chip:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display:flex;
    gap: 10px;
    margin: 0px 0px 35px 0px;
}

.info i {
    border:2px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text {
    font-size: 16px;
    display: flex;
    align-items:center; 
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
    background-color: var(--main-bg-color);
}

.accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.accommodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation-cards .card {
    flex: 1 1 calc(33.33% - 15px);
    min-width: 220px;
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.accommodation-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accommodation-cards .card-content {
    padding-left: 15px;
    padding-right: 15px;
}

.accommodation-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.accommodation-cards .card-subtitle {
    margin: 0;
    margin-bottom: 8px;
}

.accommodation-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
}

/****** Popular ***********/
.popular {
    width: 32%;
    background-color: var(--main-bg-color);
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/*********** Things To Do ************/

.ttd-container {
    display: flex;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    flex-direction: column;
    box-sizing: border-box; 
}

.things-to-do {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.things-to-do-cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.things-to-do-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 65px;
}

.things-to-do-cards .card {
    flex: 1 0 calc(25% - 20px);
    min-width: 290px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.things-to-do-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.things-to-do-cards h3 {
    padding: 15px;
}

footer {
    width: 100%;
    background-color: var(--main-bg-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 65px 20px 20px 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0 50px 0 0;
    flex: 1;
    margin: 20px 0px;
}

.footer-container li {
    margin-bottom: 15px;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.top-footer-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/*********** Tablet ************/
@media (max-width:1024px) {
    .accommodation-and-popular {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .accommodation {
        width: 100%;
    }

    .popular {
        width: 100%;
    }

    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popular-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .popular-cards .card {
        display: flex;
        flex-direction: row;
        margin-top: 33px;
    }

    .ttd-container {
        flex: 1 1 calc(25% - 15px);
        max-width: calc(25% - 15px);
    }
    
    .things-to-do-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .things-to-do-cards .card {
        max-height: 270px;
        min-width: 190px;
        flex: 1 1 calc (25% - 15px);       
        display: flex;
        flex-direction: column;
    }

    .things-to-do-cards img {
        height: 200px;
        width: 100%;
    }
}

/*********** Mobile ************/
@media (max-width:768px) {
    header {
        padding: 0 20px;
    }
    
    .main-container {
        padding: 0;
    }
       
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 0;
    }

    .logo{
        justify-content: center;
        padding: 30px;
    }

    .nav-link {
        position: relative;
        text-decoration: none;
        color: black;
        padding: 5px 15px 15px;
    }

    .nav-links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0;
    }

    .nav-link::before {
        content: none;
    }
    
    .nav-links::before {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--main-bg-color);
    }
    
    .navbarlinks {
        width: 50%;
        position: relative;
        text-align: center;
    }

    .navbarlinks::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: var(--main-color);
    }

    .accommodation-nav::after {
        left: 0;
        width: 0%;
    }

    .accommodation-nav:hover::after {
        width: 100%;
    }

    .things-to-do-nav::after {
        right: 0;
        width: 0%;
    }

    .things-to-do-nav:hover::after {
        width: 100%;
    }

    .search-text{
        display:none;
    }

    .search-bar {
        width: auto;
        height: auto;
    }

    .search-icon {    
    display: block; 
    background-color: var(--main-color);
    color: white;  
    }
    
    .search-button{
        width:49px;
        height: 49px;
        border-radius: 15px;
        background-color: var(--main-color);
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    .filter-chip {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        height: 50px;
        text-align: center;
        padding: 14px 7px 14px 19px;
    }

    .filter-title {
        flex-basis:100%;
        margin: 0px;
    }

    .accommodation-and-popular section {
        border-radius: 0;
        padding: 30px 20px;
        box-sizing: border-box;
    }

    .accommodation-and-popular {
        gap: 5px;
    }

    .popular {
        order: -1;
        padding: 0px;
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 0 0 30px;
        background-color: var(--main-bg-color);;
    }

    .popular-cards {
        display: flex;
        flex-direction: column;
    }
    
    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
    }
    
    .popular-cards .card {
        display: flex;
        margin-top: 0px;
    }
    

    .accommodation {
        background-color: transparent;
        padding: 0px;
        width: 100%;
    }

    .things-to-do-cards {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        }

    .ttd-container {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .things-to-do-cards .card {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .things-to-do-cards img {
        height: 141px;
        width: 100%;
    }

    .accommodation-cards {
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 15px;
        padding: 0;
        width: 100%;
    }

    .accommodation-cards .card {
        width: 100%;
        margin: 0;
        min-height: 207px;
        max-width: 380px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    footer {
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 0 0 30px;
    }

    .about-container {
        margin: 14px 0 0 0;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 14px 0 0 0;
    }

    .footer-container ul {
        margin-bottom: 20px;
        text-align: left;
    }
}
    
  