/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 22px;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin: 0;
}

h3 {
    font-size: 16px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 0px 0px;
    display: flex;
    text-decoration:none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px 30px 0px;
    margin: 0px 0px 30px 0px;
}

.logo {
    display: flex;
    padding: 30px 0px 0px 0px;
}

.nav-links {
    display: flex;
    gap: 68px; 
    width: auto;
}

.nav-link {
    text-decoration: none;
    color: #000;
    position: relative;
    display: inline-block;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -80%;
    left:0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
}

.nav-link:hover::before {
    width:100%;
}

.nav-link:hover {
    color: var(--main-color);
  }

.main-title {
    font-size: 22px;
  }

.search-bar {
    display: flex;
    align-items: center;
    height: 49px;
    width: 338px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    margin: 35px 0px;
  }

.search-button {
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    border:none;
    min-height:100%;
    flex-shrink: 0;
    width: 93px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.search-icon {
    display: none;
    font-size: 18px;
}
 
.search-form {
    display:flex;
    align-items:center;
    flex-grow: 1;
    min-width: 0;
    height:100%;
}  

.search-input {
    flex-grow: 1;
    min-width: 0;
    border: none;
    outline: none;
    font-size:18px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

.search-text{
    display:flex;
    align-items:center;
    justify-content: center;
}
  
.location-icon {
    background-color: var(--main-bg-color);
    height: 100%;
}

.fa-location-dot {
    color:#000;
    padding: 15px 18px 16px 18px;
}

.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px 0px 35px 0px;
}

.filter-title {
    font-size: 18px;
    font-weight: bold;
}

.filter-chip {
    display:flex;
    align-items: center;
    gap: 8px;
    padding:14px 19px;
    border:2px solid #D9D9D9;
    background-color:white;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.filter-chip:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display:flex;
    gap: 10px;
    margin: 0px 0px 35px 0px;
}

.info i {
    border:2px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text {
    font-size: 16px;
    display: flex;
    align-items:center; 
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    flex: 1;
    width: 100%;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

.accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    flex-grow:1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.accommodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation-cards .card {
    width: calc(33.33% - 30px);
    max-width: 320px;
    min-width: 250px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.accommodation-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accommodation-cards .card-content {
    padding-left: 15px;
    padding-right: 15px;
}

.accommodation-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.accommodation-cards .card-subtitle {
    margin: 0;
    margin-bottom: 8px;
}

.accommodation-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/*********** Things To Do ************/

.things-to-do {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.things-to-do-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.things-to-do-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 65px;
}

.things-to-do-cards .card {
    width: 25%;
    min-width: 290px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.things-to-do-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.things-to-do-cards h3 {
    padding: 15px;
}

footer {
    width: 100%;
    max-width: 1440;
    background-color: var(--main-bg-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 65px 20px 20px 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0 50px 0 0;
    flex: 1;
    margin: 20 0px;
}

.footer-container li {
    margin-bottom: 15px;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.top-footer-link {
    font-size: 18px;
    font-weight: bold;
}
/*********** Mobile ************/
@media (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo{
        justify-content: center;
        padding: 30px;
    }

    .nav-links {
        justify-content:space-between;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        top: 100%;
        left:0;
        width: stretch;
        height: 2px;
        background: var(--main-color);
    }

    .search-text{
        display:none;
    }

    .search-icon {    
    display: block; 
    background-color: var(--main-color);
    color: white;  
    }
    
    .search-button{
        width:40px;
        height: 100%;
        padding: 0;
        justify-content: center;
    }

    .filter-container {
        flex-wrap: wrap;
    }

    .filter-title {
        flex-basis:100%;
    }
  }